<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fable / Flow</string>
	<key>CFBundleIdentifier</key>
	<string>com.fableflow.app</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Attach up to 2 photos to the reverse side of your daily reflection card.</string>
</dict>
</plist>
